body {
	font-family: 'Inconsolata', monospace;
}

/*-- Shopping-Cart-PopUp --*/

div#my-cart-modal {
	background-color: rgba(0, 0, 0, 0.50);
}

div#my-cart-modal .modal-dialog {
	width: 50%;
	margin: 100px auto 0;
}

div#my-cart-modal .modal-content {
	background-color: #F5F5F5;
	box-shadow: none !important;
	border: none !important;
	border-radius: 0;
	padding: 30px;
}

div#my-cart-modal .modal-header {
	padding: 0 15px 15px;
	border-bottom: 3px solid #333;
}

div#my-cart-modal h4#myModalLabel {
	font-size: 20px;
	color: #F60B0E;
}

div#my-cart-modal .modal-body {
	padding: 0;
}

div#my-cart-modal .table {
	margin: 0;
}

div#my-cart-modal .table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
	padding: 10px;
	vertical-align: middle;
	border: none;
}

div#my-cart-modal .table>tbody>tr {
	border-top: 1px solid #CCC;
}

div#my-cart-modal .table>tbody>tr:nth-child(1) {
	border: none;
}

div#my-cart-modal .btn-danger {
	color: #000;
	background-color: #FFF;
	border-color: #000;
}

div#my-cart-modal .btn-danger:hover {
	color: #fff;
	background-color: #c9302c;
	border-color: #c9302c;
}

div#my-cart-modal strong {
	font-family: 'Montserrat', sans-serif;
	color: #000;
	font-size: 15px;
}


div#my-cart-modal button.btn.btn-default,
div#my-cart-modal button.btn.btn-primary {
	padding: 8px 0;
	width: 15%;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	border: none;
	border-radius: 0;
	outline: none;
	background-color: #333;
	color: #FFF;
}

div#my-cart-modal button.btn.btn-default:hover {
	background-color: #F60B0E;
}

div#my-cart-modal button.btn.btn-primary a {
	color: #FFF;
}

div#my-cart-modal button.btn.btn-primary:hover {
	background-color: #F60B0E;
}

div#my-cart-modal .alert-danger {
	color: #FFF;
	text-align: center;
	background-color: #F60B0E;
	font-size: 15px;
	margin: 20px;
	border: none;
	border-radius: 0;
}

div#my-cart-modal .close {
	font-size: 25px;
	opacity: 1;
}

div#my-cart-modal .close:hover,
.close:focus {
	opacity: 1;
	color: #F60B0E;
}

/*-- //Shopping-Cart-PopUp --*/

/*-- cart-button --*/

button.top_googles_cart {
    text-align: center;
    background: none;
    letter-spacing: 2px;
    color: #454546;
    cursor: pointer;
    border: 1px solid #dde2e6;
    padding: 0.5em 1em;
}

/*-- cart-css --*/



/*-- effect on products --*/



.men-cart-pro {
	bottom: 0;
	left: 0;
	margin: auto;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	transition: all 0.5s ease-out 0s;
	visibility: hidden;
}


span.money {
	font-size: 1em;
	color: #784fda;
	font-weight: 900;
	letter-spacing: 1px;
}

.inner-men-cart-pro {
	height: 100%;
	position: relative;
	width: 100%;
	transition: all 0.5s ease-out 0s;
}


.inner-men-cart-pro ul {
	left: 0;
	margin: -60px 0 0;
	padding: 0;
	position: absolute;
	top: 45%;
	width: 100%;
	transition: all 0.5s ease-out 0s;
}

.link-product-add-cart {
	background: #0c0c0c;
	color: #fff;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	text-transform: uppercase;
	transition: all 0.5s ease-out 0s;
}

.inner-men-cart-pro>ul>li {
	display: inline-block;
}

.inner-men-cart-pro ul li a {
	color: #fff;
	transition: all 0.5s ease-out 0s;
	display: block;
	width: 40px;
	height: 40px;
	text-align: center;
}

.men-thumb-item:hover {
	cursor: pointer;
}

.men-thumb-item:hover::before {
	opacity: 1;
	visibility: visible;
}

.men-thumb-item:hover .men-cart-pro {
	opacity: 1;
	visibility: visible;
}

.men-thumb-item:hover .inner-men-cart-pro ul {
	margin: 20px 0 0;
}

.inner-men-cart-pro ul li a:hover {
	background: #ffc229 none repeat scroll 0 0;
}

.inner-men-cart-pro .link-product-add-cart {
	width: 70%;
	top: -0px;
	left: 15%;
	margin: 0 auto;
	position: absolute;
	transition: all 0.7s ease-out 0s;
	font-size: 0.8em;
	font-weight: 700;
    letter-spacing: 2px;
}

.men-thumb-item:hover .inner-men-cart-pro .link-product-add-cart {
	top: 50%;
}

.link-product-add-cart:hover {
    background: #3c108d;
    color: #fff;
}

ul.stars a i {
	color: #cecbcb;
	font-size: 0.5em;
}

ul.stars li {
	list-style: none;
	display: inline-block;
}

ul.stars li a {
	color: #333;
}

ul.stars li a i:hover {
    color: #978279;
}

.product-googles-info {
	padding: 15px;
	border: 1px solid #e4e4e4;
}

/*-- //effect on products --*/







/*-- /Responsive --*/

@media(max-width:1280px) {
	.item-info-product h4 a {
		font-size: 13px;
	}
	.googles.single-item {
		float: right;
		width: 15%;
	}
	.inner-men-cart-pro .link-product-add-cart {
		width: 70%;
		top: 0px;
		left: 16%;
		margin: 0 auto;
		font-size: 0.9em;
		height: 37px;
	}
	.product-new-top {
		right: 0;
		top: 0;
		width: 65px;
		font-size: 13px;
		height: 29px;
		line-height: 2.3;
	}
	.img-deals {
		padding-left: 0;
	}
	#staplesbmincart {
		left: 52%;
		top: 16.9%;
		width: 420px;
	}
    button.googles-cart {
       font-size: 1em;
    }
}

@media(max-width:1050px) {
	.search-hotel input[type="search"] {
		width: 75%;
	}
    .product-men.women_two.shop-gd {
        float: left;
        -webkit-box-flex: 0;
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 1em;
    }
    .googles.single-item {
        float: right;
        width: 40%;
    }
    .product-men.women_two {
        padding: 0 5px;
    }
    
}

@media(max-width:991px) {
	.single-right-left.simpleCart_shelfItem {
		margin-top: 2em;
	}
	.single-right-left {
		width: 80%;
	}
    .responsive_tabs {
        margin-top: 3em;
        width: 100%;
    }
	.side-bar {
		width: 100%;
		margin-top: 2em;
	}
	.left-ads-display {
		padding: 0;
	}

    .product-men.women_two.shop-gd,.product-men.women_two {
        float: left;
        -webkit-box-flex: 0;
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 1em;
    }
    .product-men.women_two.bot-gd {
        float: left;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 1em;
    }
    .left-ads-display {
        padding: 0;
        margin-top: 2em;
    }
    .product-men.women_two {
        padding: 0 15px;
    }
    .product-men.women_two.bot-gd {
        padding: 0 6px;
    }
     .add-review input[type="submit"] {
        outline: none;
        padding: 12px 0;
        background: #4c00ff;
        border: none;
        width:30%;
    }
}

@media(max-width:800px) {
	.single_page h6 {
		font-size: 1.2em;
		margin: 1em 0;
	}
	.bootstrap-tab-text-grid-right p {
		margin: 1em 0 0;
	}
	#staplesbmincart {
		left: 52%;
		top: 16.9%;
		width: 343px;
	}
    button.top_googles_cart {
        padding: 0.5em 0.5em;
        letter-spacing: 1px;
    }
}

@media(max-width:736px) {
	#staplesbmincart {
		left: 52%;
		top: 16.9%;
		width: 289px;
	}
     .product-men.women_two {
        padding: 0 10px;
    }
}
@media(max-width:667px) {
     .grid_meta {
        float: center;
        width: 100%;
        text-align: center;
    }
    .googles.single-item {
        float: none;
        width: 100%;
        text-align: center;
    }
    .googles.single-item.singlepage {
        text-align: left;
    }

}
@media(max-width:640px) {
	#staplesbmincart .sbmincart-submit {
		margin-right: -5px;
		font-size: 0.7em;
	}
	#staplesbmincart .sbmincart-subtotal {
		bottom: 3px;
		font-size: 13px;
	}
	#staplesbmincart {
		left: 52%;
		top: 16.9%;
		width: 260px;
	}
	#staplesbmincart .sbmincart-item a {
		font-size: 0.8em;
	}
	#staplesbmincart .sbmincart-submit {
		margin-right: -16px;
		font-size: 0.7em;
	}
	#staplesbmincart .sbmincart-details-name {
		float: left;
		width: 51%;
	}
	#staplesbmincart .sbmincart-details-remove {
		float: left;
		width: 10%;
	}
	#staplesbmincart form {
		position: relative;
		padding: 1em 0.5em;
	}
    .add-review input[type="submit"] {
        outline: none;
        padding: 12px 0;
        background: #2d219c;
        border: none;
        width: 50%;
    }
}

@media(max-width:600px) {
	.colr {
		width: 47.333%;
		float: left;
	}
	.new_arrivals h3 {
		font-size: 1.2em;
	}
	.single-right-left {
		width: 100%;
	}
    .product-men.women_two {
        padding: 0 5px;
    }
    .testimonials_grid {
        margin: 0 auto;
        width: 81%;
    }
}

@media(max-width:480px) {
	.product-men {
		padding-left: 0;
		padding: 0;
	}
	#staplesbmincart {
		left: 17%;
		top: 15.9%;
		width: 294px;
	}
	.single-right-left h3 {
		font-size: 18px;
	}
	.colr {
		width: 80%;
		float: left;
	}
   figure.effect-lexi figcaption::before {
        position: absolute;
        right: -100px;
        bottom: -100px;
        width: 256px;
        height: 254px;
    }
    figure.effect-lexi h3 {
        font-size: 17px;
    }
    figure.effect-lexi p {
        font-size: .7em;
        line-height: 1.8em;
    }
     .add-review input[type="submit"] {
        outline: none;
        padding: 12px 0;
        background: #1f3286;
        border: none;
        width: 50%;
    }
}

@media(max-width:414px) {
	span.money {
		font-size: 0.9em;
		font-weight: 700;
	}
	.inner-men-cart-pro .link-product-add-cart {
		width: 80%;
		top: 0px;
		left: 10%;
		margin: 0 auto;
		font-size: 0.8em;
		height: 37px;
	}
     .inner-men-cart-pro {
        height: 87%;
    }

    .product-men.women_two.shop-gd, .product-men.women_two {
        float: left;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 1em;
    }
    .inner-men-cart-pro {
        height: 98%;
    }
    .item-info-product h4 a {
        font-size: 16px;
    }
    .colr {
        width: 100%;
        float: left;
    }
  }

@media(max-width:384px) {
	.inner-men-cart-pro .link-product-add-cart {
		width: 70%;
		top: 0px;
		left: 15%;
		margin: 0 auto;
		font-size: 0.8em;
		height: 37px;
	}
	.item-info-product h4 a {
		font-size: 15px;
	}
	#staplesbmincart {
		left: 9%;
		top: 15.9%;
		width: 294px;
	}
}

/*-- //Responsive --*/
.men-thumb-item img{
	width: 100%;
	height: 300px;
}